.btn{width:200px;padding:10px 0;background:none;border:0;border-radius:10px;display:block;margin:10px 0}.btn.btn-laranja{background:orange;color:#fff}.btn.btn-laranja:hover{background:#664200}.btn.btn-roxo{background:purple;color:#fff}.btn.btn-roxo:hover{background:#000}.btn.btn-amarelo{background:#ff0;color:#fff}.btn.btn-amarelo:hover{background:#660}p{color:orange}/*# sourceMappingURL=style.css.map */
